.arrow {
  background-color: #ff9800;
  // align-self: center;
  display: flex;
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  // border-radius: 50%;
  border-radius: 3rem;
  // background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay:3s;
}
.mywork {
  font-size: 1.5rem;
}
@keyframes arrow {
 0% {
   bottom:90px;

 }
 33%{
  bottom:60px;
 }
 66%,
 100%{
  bottom:80px;
 }

}
