.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  .contactbox {
    position: relative;
    background-color: #313131;
    width: 60vw;
    height: 70vh;
    display: flex;
    .svg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      p {
        font-size: 3rem;
        font-weight: 700;
        animation-name: contact;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-direction: alternate;
        // animation-delay: 5s;
        // animation-direction: alternate;
      }
      @keyframes contact {
        0%,
        1% {
          opacity: 0;
          transform: translateY(-5000px);
        }
        99%,
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .msg {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      animation-name: msg;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: alternate;
      @keyframes msg {
        0%,
        1% {
          opacity: 0;
          transform: translateY(5000px);
        }
        99%,
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      & > div {
        margin: 10px;
        & > p {
          margin-bottom: 7px;
          color: #9e9e9e;
        }
      }
      & > div:nth-child(3) {
        & > div {
          font-size: 1.5rem;
          i {
            margin-right: 10px;
            animation-name: marg;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
          @keyframes marg {
            0% {
              margin-right: 10px;
            }
            20% {
              margin-right: 8px;
            }
            40% {
              margin-right: 6px;
            }
            60% {
              margin-right: 4px;
            }
            80% {
              margin-right: 2px;
            }
            100% {
              margin-right: unset;
            }
          }
        }
      }
    }
    .back {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #ff9800;
      top: -10px;
      left: 10px;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    .contactbox {
      flex-direction: column;
      width: unset;
      .msg {
        text-align: center;
      }
    }
  }
}
