.home {
  // color: rgb(187, 185, 185);
  // flex: 1;
  // font-size: 3rem;
  // font-weight: 900;
  // color: white;
  // text-align: right;
  // padding-right: 1rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-end;
  position: relative;
  // height: 100vh;
  // overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  font-family: orbitron;
  svg {
    z-index: -1;
  }

  .div1 {
    grid-column: 1 / span 2;
  }

  .div3 {
    grid-column: 1 / span 2;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 20px;
  }

  .div4 {
    font-size: 3rem;
    font-weight: 900;
    border: 1px solid #777474;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
    transition-property: background-color, font-size;
    // background-color: var(--sec-color);
    &:hover {
      background-color: white;
      color: var(--base-color);
      font-size: 3.5rem;
    }
    &:active {
      // background-color: #0040b6;
      font-size: 3rem;
    }
  }

  .homediv {
    & > span:nth-child(1) {
      opacity: 0;
      animation-delay: 1s;
      margin-top: -100vh;
      animation-name: intro1;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    @keyframes intro1 {
      to {
        opacity: 1;
      }
    }
    & > span:nth-child(3),
    & > span:nth-child(4),
    & > span:nth-child(6),
    & > span:nth-child(8) {
      position: relative;
      right: -100vw;
      animation-delay: 3s;
      animation-name: intro2;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    @keyframes intro2 {
      to {
        right: 0;
      }
    }

    & > span:nth-child(4) {
      color: var(--base-color);
    }
    & > span:nth-child(6) {
      animation-delay: 6s;
    }
    & > span:nth-child(8) {
      animation-delay: 9s;
    }
  }
}

.anim {
  animation-duration: unset !important;
  animation-delay: unset !important;
}
@media only screen and (max-width: 424px) {
  .home {
    font-size: 2.5rem;
  }
}
