i {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.devicon-github-plain {
  color: white !important;
}
.devicon-slack-plain{
  color: rgb(180, 45, 68) !important;
}

.move {
}
