nav {
  font-family: Orbitron;
  position: sticky;
  top: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: aliceblue;
  cursor: pointer;
  height: 100vh;
  font-size: 2rem;
  font-weight: bolder;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 40px;
    height: 100%;
    li {
      transition: color ease 0.3s;
      &:hover {
        color: orange;
      }
    }
  }
  .display {
    display: none;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease-out;
  }
}
.name {
  position: relative;
  display: flex;
  align-items: center;
  .ball {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes ball {
    to {
      height: 2px;
      width: 2px;
    }
  }
}
