nav {
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: aliceblue;
  cursor: pointer;
  height: 100vh;
  font-size: 2rem;
  font-weight: bolder;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 40px;
    height: 100%;
    li:hover {
      color: orange;
    }
  }
  .display {
    display: none;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease-out;
  }
}
.name {
  height: 100vh;
  // position: fixed;
}
