.project {
  position: relative;
  margin: 10px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 120%;
    background-color: black;
    z-index: 1;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // transition-timing-function: ;
    & > * {
      margin-bottom: 20px;
    }
    p {
      font-size: 2rem;
      font-weight: 700;
    }
    .dash {
      width: 30px;
      height: 1px;
      border-color: orange;
    }
    .link {
      cursor: pointer;
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 10px;
      top: 10px;
      i {
        font-size: 1.2rem;
        color: white;
      }
      a:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
.project:hover > .cover {
  top: 0;
}

@media only screen and (max-width: 320px) {
  .project {
    .cover {
      p {
        font-size: 1.5rem;
      }
      & > * {
        margin-bottom: 10px;
      }
    }
  }
}
